/**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/

@-webkit-keyframes orbit {
    from { -webkit-transform:rotate(0deg) }
    to { -webkit-transform:rotate(360deg) }
}
@-moz-keyframes orbit {
    from { -moz-transform:rotate(0deg) }
    to { -moz-transform:rotate(360deg) }
}

.desalitech-counter,
.wpb_row .wpb_column .wpb_wrapper .desalitech-counter {
    display: table;
    margin-bottom: 35px;
    margin-right: auto;
    margin-left: auto;
    position:relative;
    height: 300px;
    width: 300px;
}

.desalitech-counter .dot{
    position:absolute;
    top:36px;
    left:36px;
    width:10px;
    height:10px;
    border-radius:50%;
}

.desalitech-counter .border-container{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.desalitech-counter .border {
    border-radius: 50%;
    border-style: solid;
    width: 100%;
    height: 100%;
    border: .25rem solid white;
    animation: orbit 2s infinite linear;
    -webkit-animation: orbit 2s infinite linear;
    -moz-animation: orbit 2s infinite linear;
}



.desalitech-counter .vertical-center{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.desalitech-counter .stats-desc,
.desalitech-counter.stats-top .stats-desc {
    padding: 20px;
    margin-top: -30px;
}

/*.desalitech-counter .aio-icon-img{
    width: 95px;
    height: 95px;
}*/

.desalitech-counter .aio-icon-img .img-icon{
    margin-left: 0px;
}

.desalitech-counter .stats-number {
    /*font-size: 30px;*/
    line-height: 1.3em;
    font-weight: 500;
}
.desalitech-counter .stats-text {
    /*font-size: 24px;
    line-height: 30px;*/
    width: 100%;
    text-align: inherit;
}
.desalitech-counter.stats-left,
.desalitech-counter.stats-right {
    direction: ltr
}

@media (max-width: 480px){
    .desalitech-counter{
        width: 200px !important;
        height: 200px !important;
    }
    .desalitech-counter .dot{
        top:22px !important;
        left:22px !important;
    }
    .desalitech-counter .stats-number,
    .desalitech-counter .stats-text{
        font-size: 18px !important;
        line-height: 1.2 !important;
    }

    .desalitech-counter .aio-icon-img{
        font-size: 60px !important;
    }

}
